
/* https://media2.giphy.com/media/CvdfsUViRUo0g/giphy.gif?cid=790b76115d268f8a61662e74674ab487&rid=giphy.gif */


@import url('https://fonts.googleapis.com/css?family=Sniglet:800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap');

#one:hover, #two:hover, #three:hover, #four:hover, #five:hover, #six:hover, #seven:hover, #eight:hover, #nine:hover {
  -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
          transform: scale(1.1);
          cursor: pointer;
}



body {

background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(
https://media.giphy.com/media/3Z1b8Z5ESU2fgScGab/giphy.gif
  )
    center no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;

}


.tables {
  opacity: 0.3;
}

table {
/* text-align: center; */
margin: 100px auto 0;
background-color: #94bd88;
margin-top: 10px;

}

td {
width: 160px;
height: 160px;
border: 5px solid #73bd5e;
box-shadow: 0 10px 3px #4dff88;
}

.border-top {
border-top: none;
}

.border-right {
border-right: none;
}

.border-left {
border-left: none;
}

.border-bottom {
border-bottom: none;
}

.player1{
  display: none;
}

.player2{
  display: none;
}

.draw {
  display: none;
}


/* h2 {
  color: red;
  size: 24px;
  text-align: center;

} */

h4 {
/* text-align: center; */
color: #a0cc93;
font-family: 'Luckiest Guy', cursive;
font-weight: bold;
}


/*push the button */

.container {
  text-align: center;
  /* margin: 60px auto 0; */
  font-family: 'Luckiest Guy', cursive;
}

a {
  display: inline-block;
  background-color: #a0cc93;
  color: #fff;
  font-size: 1em;
  font-family: 'Luckiest Guy', cursive;
  padding: 0.5em 1.7em;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 0.4em;
  border-bottom: 0.2em solid #77b066;
  -moz-transition: 0.1s;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  box-shadow: 0 2px 3px #ccc;
  position: relative;
  top: 30px;
}

a:hover {
  background-color: #77b066;
  border-bottom-width: 0;
  margin-top: 0.2em;
}


#player1position{
display: inline-block;
position: fixed;

    bottom: 50%;
    right: 81%;
}

#player2position {
display: inline-block;
position: fixed;
bottom: 50%;
left: 82%;
}


h1 {
color: #94bd88;

}


h2{
  position:fixed;
  top:43%;
  margin:0 auto;
  left:0;right:0;
  text-align:center;
  cursor:default;
  font-family: 'Indie Flower', cursive;
  font-size: 40px;
  color: red;
  font-weight: bold;

}


/*
moving face player 1
*/

.move-area{
  text-align: center;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: 2px solid #eebb99;
  background-color: #eebb99;
  margin-left: 30px;
  /* padding: 10% 45%; */
}

.move2{
  /* text-align: center; */
  margin-left: 22px;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: 2px solid #c68642;
  background-color: #c68642;
  /* padding: 10% 45%; */
}


.eye, .eye2 {
  position: relative;
  display: inline-block;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  background: #CCC;
  left: 12px;
    top: 5px;
}

.mouth {
  position: relative;
  top: 40px;
  right: 49px;
  display: inline-block;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  background: #CCC;
}

.mouth2 {
  position: relative;
  top: 45px;
  right: 49px;
  display: inline-block;
  /* border-radius: 60%; */
  height: 30px;
  width: 30px;
font-family: 'Sniglet', cursive;
   background: #c68642;
   color:red;
   font-size: 2em;
   font-weight: bold;
   text-align: center;
   border-radius: 5px;
}

.eye:after { /*pupil*/
  position: absolute;
  bottom: 17px;
  right: 10px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  content: " ";
  background: blue;
}

.eye2:after { /*pupil*/
  position: absolute;
  bottom: 17px;
  right: 10px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  content: " ";
  background: black;
}

/*
moving face player 2
*/

/*
.player2img {
    height: 100px;
    width: 100px;
    background-color: #c68642;
    border-radius: 53px;
    position: relative;
}

.player2img:after {
    position: absolute;
    top: 23px;
    bottom: 0;
    left: 0;
    right: 0;
    content: "\274c"; /* use the hex value here... */
  /*  font-size: 50px;
    color: #FFF;
    line-height: 100px;
    text-align: center;
}

.eye2 {
  position: relative;
  display: inline-block;
  border-radius: 40%;
  height: 30px;
  width: 30px;
  background: #CCC;
}
/*
.eye2:after { /*pupil*/
/*  position: absolute;
  bottom: 17px;
  right: 16px;
  width: 10px;
  height: 10px;
  border-radius: 30%;
  content: " ";
  background: black;
}
*/

/*

.center-outer {
display: table;
width: 100%;
height: 100%;
}

.center-inner {
display: table-cell;
vertical-align: middle;
text-align: center;
}




*/
.bubbles {
display: inline-block;
position: relative;
}

.bubbles h1{
position: relative;
font-size: 50px;
margin: 1em 0 0;
color: #94bd88;
z-index: 2;
}

.individual-bubble {
position: absolute;
border-radius: 100%;
bottom: 15px;
background-color: #94bd88;
z-index: 1;
}

#teamplay1 {
  position: relative;
  left: 17px;

}

#teamplay2 {
position: relative;
left: 30px;

}
