
body {
background-color: #9ac1e6;

}




table {
  text-align: center;
  margin: 100px auto 0;
background-color: #eba4d0;
margin-top: 50px;
}

td {
width: 150px;
height: 150px;
border: 3px solid #6F90BE;
}

.border-top {
border-top: none;
}

.border-right {
border-right: none;
}

.border-left {
border-left: none;
}

.border-bottom {
border-bottom: none;
}

#img1, #img2 {
width: 110px;
height: 110px;
}
#image-one, #dynamic{
border-radius: 106px;

}

.pic {
background-color: pink;
}

.player1{
  display: none;
}

.player2{
  display: none;
}

.draw {
  display: none;
}


h2 {
  color: red;
  size: 24px;
  text-align: center;

}

h4 {
text-align: center;
}


/*push the button */

div.container {
  text-align: center;
  margin: 100px auto 0;
}

a {
  display: inline-block;
  background-color: #1984c3;
  color: #fff;
  font-size: 1.5em;
  font-family: Courier, sans-serif;
  padding: 1em 5em;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 0.5em;
  border-bottom: 0.25em solid #0f5177;
  -moz-transition: 0.1s;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  box-shadow: 0 2px 3px #ccc;
  position: relative;
}

a:hover {
  background-color: #1e9feb;
  border-bottom-width: 0;
  margin-top: 0.2em;
}

/* .left {
height: 500px;
border-left: 5px solid green;
margin-left: 200px
}

.right {
height: 500px;
border-left: 5px solid green;
margin-left:600px;
} */



/* .top {
height: 500px;
border-left: 5px solid green;
margin-left:600px;
} */


/* @import url(http://fonts.googleapis.com/css?family=Oleo+Script);
@import url(http://fonts.googleapis.com/css?family=Ruluko);

#content {
  margin: 0 auto;
  text-align: center;
  width: 700px;
}

#nav {
  margin: 50px 0px;
}

#title {
  color: #F52F4F;
  font-family: 'Oleo Script', cursive;
  font-size: 50px;
}

#checking {
  float: left;
}

#savings {
  float: right;
}

.account {
  background-color: #6C9A74;
  border: 1px solid #295A33;
  padding: 10px;
}

.balance {
  background-color: #E3E3E3;
  border: 1px solid #676767;
  font-family: 'Ruluko', sans-serif;
  font-size: 50px;
  padding: 25px 0;
}

.clear {
  clear: both;
}

.zero {
  background-color: #F52F4F;
  color: #FFF;
} */
